// 색상

$main-color: #1C7ED6;          //현재 날짜
$sub-color: #D0EBFF;           //현재 날짜 
$step-color: #E1F2FF;          // 위 테이블 
$gray-color: #828aa0;          // 전 말일, 후 초일
$dark-gray-color: #515C6F;     // 요일 글자 